/* Min Width 1200px and Max Width 1399px */

@media (min-width: 1200px) and (max-width: 1399px) {
  .facts-hero-bg {
    bottom: -5px;
  }
}

/* Min Width 992px and Max Width 1199px */

@media (min-width: 992px) and (max-width: 1199px) {
  .hero-content h2 {
    font-size: 74px;
  }

  .facts-hero-bg {
    bottom: 0px;
  }

  .facts-hero-content h2 {
    font-size: 64px;
  }

  .fatcs-help-top h2 {
    font-size: 48px;
  }

  .safety-top h2,
  .curious-title h2,
  .pricing-title h2 {
    font-size: 48px;
  }
}

/* Min Width 768px and Max Width 991px */

@media (min-width: 768px) and (max-width: 991px) {
  .blog-details-title h3,
  .bd-card-content-box h3,
  .recommended-wrapper h3,
  .categories-wrapper h3 {
    font-size: 30px;
  }

  .bd-card-content-box p,
  .footer-content h4,
  .footer-copyright p {
    font-size: 16px;
    line-height: 24px;
  }

  .bdb-card-filter-buttons a,
  .recommend-post-content h4 {
    font-size: 20px;
  }

  .right-blog-card,
  .footer-content {
    margin-top: 50px;
  }

  .footer-wrapper {
    margin-top: 100px;
  }

  .footer-title h2 {
    font-size: 36px;
  }

  .footer-copyright {
    padding-top: 50px;
  }

  .blog-card-content h3 {
    font-size: 24px;
  }

  .hero-wrapper {
    padding-top: 60px;
    padding-bottom: 0;
  }

  .facts-hero-bg {
    bottom: -5px;
  }

  .hero-content h2 {
    font-size: 56px;
  }

  .fatcs-help-top h2 {
    font-size: 40px;
  }

  .hero-img {
    padding-top: 50px;
  }

  .safety-top h2,
  .curious-title h2,
  .pricing-title h2,
  .testimonial-slide h2 {
    font-size: 40px;
  }

  .pricing-content h1 {
    font-size: 96px;
  }
}

/* Min Width 300px and Max Width 767px */

@media (min-width: 300px) and (max-width: 767px) {
  .blog-details-title h3,
  .bd-card-content-box h3,
  .recommended-wrapper h3,
  .categories-wrapper h3 {
    font-size: 24px;
  }

  .bd-card-content-box p,
  .footer-content h4,
  .footer-copyright p {
    font-size: 16px;
    line-height: 24px;
  }

  .bdb-card-filter-buttons a,
  .recommend-post-content h4 {
    font-size: 18px;
  }

  .right-blog-card,
  .footer-content {
    margin-top: 50px;
  }

  .footer-wrapper {
    margin-top: 100px;
  }

  .footer-title h2 {
    font-size: 30px;
  }

  .footer-copyright {
    padding-top: 50px;
  }

  .blog-card-img img {
    min-height: 220px;
    max-height: 220px;
  }

  .blog-card-content h3 {
    font-size: 24px;
  }

  .hero-wrapper {
    padding-top: 60px;
    padding-bottom: 0;
  }

  .facts-hero-bg {
    bottom: -5px;
  }

  .hero-content h2 {
    font-size: 48px;
  }

  .fatcs-help-top h2 {
    font-size: 36px;
  }

  .hero-content p {
    font-size: 18px;
  }

  .hero-img {
    padding-top: 50px;
  }

  .facts-accordion {
    padding-top: 80px;
  }

  .facts-accordion h3 {
    font-size: 24px;
  }

  .accordion-button,
  .accordion-body {
    font-size: 16px;
    padding-left: 20px !important;
  }

  .safety-top h2,
  .curious-title h2,
  .pricing-title h2,
  .testimonial-slide h2 {
    font-size: 30px;
  }

  .pricing-content h1 {
    font-size: 72px;
  }

  .safety-card-content h3,
  .curious-card-title h3,
  .pricing-content h3,
  .pricing-features h3 {
    font-size: 24px;
  }

  .safety-card-content p,
  .testimonial-slide p,
  .curious-card p,
  .pricing-content p {
    font-size: 16px;
  }

  .curious-card-btn a,
  .pricing-features ul li {
    font-size: 18px;
  }

  .testimonial-wrapper {
    padding: 150px 0 100px;
  }

  .testimonial-slider {
    padding: 0 20px;
  }

  .testimonial-img {
    max-width: 70%;
    width: 100%;
    margin: auto;
  }

  .testimonial-slider .owl-dots {
    display: none;
  }

  .owl-nav {
    width: 100%;
    position: absolute;
    top: 5%;
    display: block !important;
  }

  .owl-prev {
    position: absolute;
    left: 0;
  }

  .owl-next {
    position: absolute;
    right: 40px;
  }

  .pricing-container {
    padding: 40px 10px;
    margin: 50px 10px 0;
  }
}
