@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Staatliches&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Staatliches, cursive;
  background: rgb(242, 242, 242);
  scroll-behavior: smooth;
}

ol,
ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

nav.navbar {
  width: 100%;
  background: linear-gradient(to left, rgb(54, 155, 161), rgb(49, 78, 98));
  box-shadow: rgb(221, 221, 221) 1px 1px 20px 0px;
  padding: 18px 0px;
  z-index: 999;
}

.main-nav {
  background: linear-gradient(
    45deg,
    rgb(40, 75, 99),
    rgb(0, 172, 180)
  ) !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 12px 0px !important;
}

.logo img {
  max-width: 175px;
  width: 100%;
}

.nav-link,
.nav-link:hover {
  font-family: Staatliches, cursive;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(237, 237, 237);
  padding: 0px 20px !important;
}

.nav-link.active {
  color: rgb(1, 194, 203) !important;
}

.search-bar {
  width: 300px;
  padding: 8px 15px 8px 10px;
  background: rgba(255, 255, 255, 0.247);
  border-radius: 5px;
}

.search-bar input {
  width: 90%;
  padding: 0px;
  color: rgb(255, 255, 255);
  background: transparent;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-image: initial;
  border-right: 2px solid rgb(255, 255, 255);
}

.search-bar input:focus {
  outline: 0px;
}

.search-bar button {
  text-align: center;
  background: transparent;
  border: none;
}

.sign-in-btn {
  padding: 10px 35px;
  color: rgb(255, 255, 255);
  background: rgb(40, 76, 100);
  box-shadow: rgba(40, 76, 100, 0.68) -1px 2px 7px 0px;
  border-radius: 5px;
}

.navbar-toggler {
  margin-top: -15px;
  border: 0px !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0px !important;
}

.toggler-icon {
  display: block;
  width: 25px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: all 0.2s ease 0s;
}

.middle-bar {
  margin: 5px auto;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .toggler-icon {
  background-color: rgb(255, 255, 255);
}

@media (max-width: 1200px) {
  .logo img {
    max-width: 120px;
    width: 100%;
  }

  .navbar-toggler {
    margin: 0px;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .navbar-nav {
    padding: 20px 0px;
  }

  .nav-link {
    padding: 5px 0px !important;
  }
}

.breadcrumb-wrapper {
  padding-top: 60px;
}

.breadcrumb-content a {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  color: rgb(40, 76, 100);
}

.breadcrumb-content a.active {
  font-weight: 500;
}

.breadcrumb-content span i {
  color: rgb(0, 172, 180);
  padding: 0px 5px;
}

.blog-details-wrapper {
  padding-top: 20px;
}

.blog-details-title h3 {
  font-size: 30px;
  color: rgb(40, 76, 100);
}

#blog-details-blog {
  background: rgb(255, 255, 255);
  padding: 20px 20px 50px;
  margin-top: 10px;
  box-shadow: rgba(139, 139, 139, 0.267) 0px 0px 15px 3px;
  border-radius: 20px;
}

.bdb-card-img img {
  width: 100%;
  max-height: 515px;
  height: 100%;
}

.bdb-time-tag {
  position: absolute;
  top: 20px;
  right: 20px;
}

.bdb-time-tag span {
  font-family: "Space Grotesk", sans-serif;
  font-size: 15px;
  padding: 5px 10px;
  margin-left: 10px;
  color: rgb(255, 255, 255);
  background: rgba(40, 40, 40, 0.72);
}

.bdb-cat-tag {
  padding: 20px 0px;
}

.bdb-cat-tag span {
  font-family: "Space Grotesk", sans-serif;
  font-size: 15px;
  color: rgb(255, 255, 255);
  background: rgb(0, 172, 180);
  padding: 5px 10px;
  margin-right: 10px;
}

.bd-card-content-box h3 {
  font-size: 30px;
  color: rgb(40, 76, 100);
}

.bd-card-content-box p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  line-height: 32px;
  padding-top: 8px;
  color: rgb(53, 53, 53);
}

.bdb-card-filter-buttons {
  padding-top: 50px;
}

.bdb-card-filter-buttons a {
  font-family: "Space Grotesk", sans-serif;
  font-size: 24px;
  text-decoration: underline;
  color: rgb(0, 172, 180);
  padding-left: 20px;
}

.blog-pagination {
  padding-top: 60px;
}

.blog-pagination ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-pagination ul li {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: rgb(40, 76, 100);
  margin: 0px 8px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(139, 139, 139, 0.03) 0px 0px 9px 0px;
}

.blog-pagination ul li.active {
  color: rgb(255, 255, 255);
  background: rgb(0, 172, 180);
}

.blog-pagination ul li i {
  color: rgb(0, 172, 180);
}

.right-blog-card,
.recommend {
  background: rgb(255, 255, 255);
  padding: 20px 20px 30px;
  margin-top: 10px;
  box-shadow: rgba(139, 139, 139, 0.267) 0px 0px 15px 3px;
  border-radius: 20px;
}

.right-blog-card-img img {
  width: 100%;
  min-height: 125px;
  max-height: 125px;
  height: 100%;
  object-fit: cover;
}

h3.blog-title {
  font-size: 24px;
  color: rgb(40, 76, 100);
  padding-top: 20px;
}

.right-blog-content p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  color: rgb(53, 53, 53);
}

.right-blog-btn {
  padding-top: 15px;
}

.right-blog-btn > a {
  font-size: 20px;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  background: rgb(0, 172, 180);
  border-radius: 5px;
}

.recommend {
  margin-top: 15px;
}

.recommended-wrapper > h3 {
  font-size: 30px;
  color: rgb(40, 76, 100);
}

.recommend-blog-card-img,
.recommend-blog-card-img img {
  width: 100%;
  min-height: 170px;
  max-height: 170px;
  height: 100%;
  object-fit: cover;
}

.recommend-blog-card-content p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  color: rgb(53, 53, 53);
  padding: 5px 0px;
}

.recommend-blog-btn a {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  text-decoration: underline;
  color: rgb(0, 172, 180);
}

.recommend-post {
  padding: 20px 0px 0px;
  border-top: 2px dotted rgb(214, 214, 214);
}

.recommend-post-img {
  width: 250px;
  margin-right: 20px;
}

.recommend-post-content h4 {
  font-size: 20px;
  color: rgb(40, 76, 100);
}

.recommend-post-content p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: rgb(53, 53, 53);
  margin-bottom: 0px;
}

.categories-wrapper h3 {
  font-size: 30px;
  color: rgb(40, 76, 100);
}

.categories {
  display: flex;
  flex-wrap: wrap;
  background: rgb(255, 255, 255);
  padding: 30px;
  margin-top: 20px;
  box-shadow: rgba(139, 139, 139, 0.267) 0px 0px 15px 3px;
  border-radius: 20px;
}

.categories-tag {
  display: block;
  font-family: "Space Grotesk", sans-serif;
  font-size: 15px;
  color: rgb(255, 255, 255);
  background: rgb(0, 172, 180);
  padding: 5px 10px;
  margin: 5px 10px 5px 0px;
}

.footer-wrapper {
  background: rgb(21, 21, 21);
  margin-top: 200px;
  padding: 80px 0px;
}

.footer-title {
  text-align: center;
  padding-bottom: 50px;
}

.footer-title h2 {
  font-size: 48px;
  color: rgb(255, 255, 255);
}

.footer-regi-input {
  max-width: 400px;
  width: 100%;
}

.footer-regi-input input {
  width: 100%;
  color: rgb(255, 255, 255);
  background: rgba(217, 217, 217, 0.28);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.footer-regi-input input:focus {
  outline: 0px;
}

.footer-check-input label {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.67);
  padding-left: 10px;
}

.regi-btn input {
  font-size: 18px;
  color: rgb(255, 255, 255);
  background: rgb(0, 172, 180);
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
}

.footer-regi-form ::placeholder {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.404);
}

.footer-content h4 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.76);
  margin-bottom: 20px;
}

.footer-copyright {
  text-align: center;
  padding-top: 100px;
}

.footer-copyright p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.404);
}

.read-article-btn a {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  text-decoration: underline;
  color: rgb(0, 172, 180);
}

.blog-card {
  background: rgb(255, 255, 255);
  padding: 20px 20px 30px;
  margin-top: 10px;
  box-shadow: rgba(139, 139, 139, 0.267) 0px 0px 15px 3px;
  border-radius: 20px;
}

.blog-card-img img {
  max-width: 100%;
  width: 100%;
  min-height: 270px;
  max-height: 300px;
  height: 100%;
}

.blog-card-content h3 {
  font-size: 28px;
  color: rgb(40, 76, 100);
  padding: 7px 0px;
}

.blog-card-content p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  color: rgb(53, 53, 53);
}

.hero-wrapper {
  background: linear-gradient(to right, rgb(40, 75, 99), rgb(0, 172, 180));
  padding: 40px 0;
}

.facts-hero-bg {
  position: absolute;
  bottom: -25px;
}

.hero-content {
  max-width: 500px;
}

.hero-content h2 {
  font-size: 85px;
  color: rgb(255, 255, 255);
}

.hero-content p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 24px;
  color: rgb(255, 255, 255);
}

.help-wrapper {
  padding: 100px 0px;
}

.fatcs-help-top {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.fatcs-help-top h2 {
  font-size: 56px;
  color: rgb(40, 76, 100);
}

.help-search-form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(255, 255, 255);
  margin-top: 25px;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 10px;
}

.help-search-form-field input {
  width: 90%;
  padding: 20px;
  border: none;
  border-radius: 10px;
}

.help-search-form-field input:focus {
  outline: 0px;
}

.help-search-form-field i {
  color: rgb(58, 174, 177);
  padding-left: 60px;
}

.help-search-form ::placeholder {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgb(151, 151, 151);
}

.facts-accordion {
  padding-top: 150px;
}

.facts-accordion h3 {
  font-size: 30px;
  color: rgb(53, 53, 53);
}

.accordion {
  padding-top: 10px;
}

.accordion-button {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgb(56, 56, 56) !important;
  padding: 20px 20px 20px 50px !important;
  background: none !important;
}

.accordion-button:focus {
  background: none;
  box-shadow: none;
}

.accordion-body {
  padding-left: 50px;
}

.accordion-body p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  margin: 0px;
}

/* ==========***==========
Home Page CSS
==========***========== */

.hero-wrapper {
  background: linear-gradient(to right, rgb(40, 75, 99), rgb(0, 172, 180));
  padding: 40px 0;
}

.facts-hero-bg {
  position: absolute;
  bottom: -25px;
}

.hero-content {
  max-width: 500px;
}

.hero-content h2 {
  font-size: 85px;
  color: rgb(255, 255, 255);
}

.hero-content p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 24px;
  color: rgb(255, 255, 255);
}

.hero-btn {
  padding-top: 30px;
}

.hero-btn a {
  font-size: 20px;
  padding: 15px 30px;
  color: rgb(255, 255, 255);
  background: rgb(0, 172, 180);
  box-shadow: rgba(40, 76, 100, 0.68) -1px 2px 7px;
  border-radius: 5px;
}

/* Safety Section CSS Start */

.safety-wrapper {
  position: relative;
  padding-top: 100px;
  margin-bottom: -100px;
}

.safety-top {
  padding-bottom: 80px;
}

.safety-top h2 {
  font-size: 56px;
  text-align: center;
  color: #353535;
}

.safety-top h2 span {
  color: #284c64;
}

.safety-card {
  text-align: center;
  padding: 40px 30px;
  background: #ffffff;
  box-shadow: 0px 4px 14px 1px #0000000d;
  height: 100%;
  border-radius: 20px;
}

.safety-card-icon {
  padding-bottom: 20px;
}

.safety-card-icon img {
  max-width: 120px;
  margin: auto;
  height: 100px;
}

.safety-card-icon::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 70%;
  height: 2px;
  background: #00acb4;
}

.safety-card-content {
  padding-top: 20px;
}

.safety-card-content h3 {
  font-size: 30px;
  color: #284c64;
  margin-bottom: 15px;
}

.safety-card-content p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  color: #353535;
  margin-bottom: 20px;
}

.safety-card-btn a i {
  color: #00acb4;
}

/* Safety Section CSS End */

/* Testimonial Section CSS Start */

.testimonial-wrapper {
  background: linear-gradient(
    300deg,
    rgb(40, 75, 99) 60%,
    #2f6a79,
    rgb(0, 172, 180)
  );
  padding: 250px 0 100px;
}

.testimonial-content h2 {
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 25px;
}

.testimonial-content p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  color: #ededed;
  margin-bottom: 30px;
}

.testimonial-slider .owl-dots {
  display: block !important;
  position: absolute;
  left: 53%;
}

.owl-theme .owl-dots .owl-dot span {
  background: transparent !important;
  border: 2px solid #d8d8d8;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: #ffffff !important;
  border: 2px solid #d8d8d8;
}

/* Testimonial Section CSS End */

/* Curious Section CSS Start */

.curious-wrapper {
  padding: 80px 0;
  background: #ffffff;
}

.curious-title {
  text-align: center;
}

.curious-title h2 {
  font-size: 56px;
  color: #284c64;
}

.curious-card {
  padding-top: 60px;
}

.curious-card-icon img {
  max-width: 60px;
  height: 50px;
}

.curious-card-title h3 {
  font-size: 30px;
  color: #284b63;
  padding-left: 15px;
}

.curious-card p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  color: #353535;
}

.curious-card-btn a {
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  color: #00acb4;
}

/* Curious Section CSS End */

/* Pricing Section CSS Start */

.pricing-wrapper {
  background: linear-gradient(39deg, rgb(40, 75, 99), rgb(4, 126, 133));
  padding: 100px 0;
}

.pricing-title h2 {
  font-size: 56px;
  color: #ffffff;
}

.pricing-container {
  background: #ffffff;
  box-shadow: -3px 7px 13px 4px #06060636;
  margin-top: 60px;
  padding: 50px 60px;
  border-radius: 20px;
}

.pricing-content h3,
.pricing-features h3 {
  font-size: 30px;
  color: #353535;
}

.pricing-content h1 {
  font-size: 120px;
  color: #284b63;
}

.pricing-content p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  color: #353535;
  margin-bottom: 5px;
}

.pricing-features ul li {
  display: flex;
  align-items: center;
  padding-top: 12px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #353535;
}

.pricing-features ul li img {
  max-width: 20px;
  margin-right: 10px;
}

/* Pricing Section CSS Start */
